<section class="header">
    <h3>Blogs</h3>
    <ul class="navbar">
        <li class="list-item"><a href="/" class="link">Home</a></li>
        <li class="list-item"><a href="/form" class="link">Add a Blog</a></li>
        <li class="list-item"><a href="/about" class="link">About</a></li>
    </ul>
</section>